/sneaker_shop_core/WebApplication1/bin
/sneaker_shop_core/WebApplication1/obj
/sneaker-shop/Document/Template/Shop/test.html
/sneaker-shop/Document/Template/Shop/temp.css
/sneaker-shop/Document/Template/Shop/css/test.css