@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}  
  <div class="PageLayout_PageAlignment">
    <div class="ShopAllGrid_Container">
      <div class="full-width border-box relative text-align-center hide-scroll PageHeader_PageHeaderBox">
        <h1 class="PageHeader_Title">
          Check Out
        </h1>
      </div>
      <div class="table-responsive-xxl" id="productTable">
        <table class="table table-hover checkOut_table">
          <thead class="table-dark">
            <tr>
              <td>#</td>
              <td></td>
              <td>Name</td>
              <td>Information</td>
              <td>Price ($)</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><img class="checkOut_itemImg" src="./images/jordan4.png"></td>
              <td>Air Jordan 4</td>
              <td>
                Size: 34
                <br>
                Condition: Used
                <br>
                SILHOUETTE: Jordan 4
              </td>
              <td>350</td>
              <td style="text-align:center"><button type="button" class="btn-close" aria-label="Close"></button></td>
            </tr>
            <tr>
              <td>1</td>
              <td><img class="checkOut_itemImg" src="./images/jordan4.png"></td>
              <td>Air Jordan 4</td>
              <td>
                Size: 34
                <br>
                Condition: Used
                <br>
                SILHOUETTE: Jordan 4
              </td>
              <td>350</td>
              <td style="text-align:center"><button type="button" class="btn-close" aria-label="Close"></button></td>
            </tr>
            <tr>
              <td>1</td>
              <td><img class="checkOut_itemImg" src="./images/jordan4.png"></td>
              <td>Air Jordan 4</td>
              <td>
                Size: 34
                <br>
                Condition: Used
                <br>
                SILHOUETTE: Jordan 4
              </td>
              <td>350</td>
              <td style="text-align:center"><button type="button" class="btn-close" aria-label="Close"></button></td>
            </tr>
            <tr>
              <td>1</td>
              <td><img class="checkOut_itemImg" src="./images/jordan4.png"></td>
              <td>Air Jordan 4</td>
              <td>
                Size: 34
                <br>
                Condition: Used
                <br>
                SILHOUETTE: Jordan 4
              </td>
              <td>350</td>
              <td style="text-align:center"><button type="button" class="btn-close" aria-label="Close"></button></td>
            </tr>
            <tr>
              <td>1</td>
              <td><img class="checkOut_itemImg" src="./images/jordan4.png"></td>
              <td>Air Jordan 4</td>
              <td>
                Size: 34
                <br>
                Condition: Used
                <br>
                SILHOUETTE: Jordan 4
              </td>
              <td>350</td>
              <td style="text-align:center"><button type="button" class="btn-close" aria-label="Close"></button></td>
            </tr>
            <tr>
              <td>1</td>
              <td><img class="checkOut_itemImg" src="./images/jordan4.png"></td>
              <td>Air Jordan 4</td>
              <td>
                Size: 34
                <br>
                Condition: Used
                <br>
                SILHOUETTE: Jordan 4
              </td>
              <td>350</td>
              <td style="text-align:center"><button type="button" class="btn-close" aria-label="Close"></button></td>
            </tr>
          </tbody>
          <tfoot class="table-dark">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Total:</td>
              <td>10000</td>
              <td><button onclick="event.preventDefault(); showFormWithAnimation('productTable', 'checkOut_Form' )"
                  class="AnimatedUnderlineText checkOut_Button nashButton_Wrapper Hero_Button"><span>Continue</span></button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <form id="checkOut_Form" style="border: 1px solid black">
        <div class="Hero_HeroPaneContent LoginForm_HeroPaneContent">
          <header class="LoginForm_Header">
            <h1 class="LoginForm_Title">Your information</h1>
            <p class="LoginForm_Subtitle">Please check you information before confirm order</p>
          </header>
          <main class="LoginForm_Main">
            <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                  label="Email or Username" name="username" type="email" autocomplete="" aria-label="Email or Username"
                  class="MaterialInput_Input" value=""><span class="MaterialInput_LabelCopy">Email</span></label></div>
            <div class="LoginForm_InputWrapper">
              <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                    label="Email or Username" name="username" type="email" autocomplete=""
                    aria-label="Email or Username" class="MaterialInput_Input" value=""><span
                    class="MaterialInput_LabelCopy">Address</span></label></div>
              <div class="LoginForm_InputWrapper">
                <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                      label="Email or Username" name="username" type="email" autocomplete=""
                      aria-label="Email or Username" class="MaterialInput_Input" value=""><span
                      class="MaterialInput_LabelCopy">City</span></label></div>
                <div class="LoginForm_InputWrapper">
                  <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                        label="Email or Username" name="username" type="email" autocomplete=""
                        aria-label="Email or Username" class="MaterialInput_Input" value=""><span
                        class="MaterialInput_LabelCopy">State/Province</span></label></div>
                  <div class="LoginForm_InputWrapper">
                    <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                          label="Email or Username" name="username" type="email" autocomplete=""
                          aria-label="Email or Username" class="MaterialInput_Input" value=""><span
                          class="MaterialInput_LabelCopy">Payment</span></label></div>
                    <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                          label="Email or Username" name="username" type="email" autocomplete=""
                          aria-label="Email or Username" class="MaterialInput_Input" value=""><span
                          class="MaterialInput_LabelCopy">Name on card</span></label></div>
                    <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                          label="Email or Username" name="username" type="email" autocomplete=""
                          aria-label="Email or Username" class="MaterialInput_Input" value=""><span
                          class="MaterialInput_LabelCopy">Credit card number</span></label></div>
                    <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                          label="Email or Username" name="username" type="email" autocomplete=""
                          aria-label="Email or Username" class="MaterialInput_Input" value=""><span
                          class="MaterialInput_LabelCopy">Exp month</span></label></div>
                    <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                          label="Email or Username" name="username" type="email" autocomplete=""
                          aria-label="Email or Username" class="MaterialInput_Input" value=""><span
                          class="MaterialInput_LabelCopy">Exp year</span></label></div>
                    <div class="MaterialInput_Content"><label class="MaterialInput_Label"><input id="username"
                          label="Email or Username" name="username" type="email" autocomplete=""
                          aria-label="Email or Username" class="MaterialInput_Input" value=""><span
                          class="MaterialInput_LabelCopy">CVV</span></label></div>
                    <div class="LoginForm_InputWrapper">
                    </div>
          </main>
        </div>
        <div class="LoginForm_Error"></div>
        <nav class="Hero_HeroPaneLoginActions" style="border: 0;"><span class="Hero_Border"><button onclick="event.preventDefault(); showFormWithAnimation('checkOut_Form', 'productTable' )"
              class="GoatButton_Wrapper Hero_Button">Back</button></span>
              <span class="Hero_Border"><button type="submit"
                class="GoatButton_Wrapper Hero_Button">Confirm order</button></span>
            </nav>
      </form>
    </div>

  </div>
