/* sc-component-id: GridFilters__Wrapper-sc-1phw74w-0 */

.lkKuZy {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 99999;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: scroll;
}

@media (min-width:640px) {
    .lkKuZy {
        position: relative;
        width: 252px;
        margin-right: 60px;
        margin-top: 10px;
        z-index: 1;
        overflow: visible;
        padding-top: 0;
    }
}

/* sc-component-id: GridFilters__MobileFilterTop-sc-1phw74w-1 */

.ftKVtw {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #dedede;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1003;
    font-size: 14px;
    font-family: Plain;
    line-height: 16px;
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
}

@media (min-width:640px) {
    .ftKVtw {
        display: none;
    }
}

/* sc-component-id: GridFilters__FilterReset-sc-1phw74w-5 */

.kbqZDW {
    min-width: 31px;
}

/* sc-component-id: GridFilters__CloseButton-sc-1phw74w-4 */

.kFEZZf {
    border: none;
    background-color: white;
    outline: none;
    font-size: 12px;
    font-family: Plain;
    line-height: 12px;
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
}

.kFEZZf span {
    margin-right: 5px;
}

/* sc-component-id: CollapseBox__Wrapper-ijtqqs-0 */

.jQzwym {
    display: block;
    max-width: 320px;
    margin: auto;
    visibility: visible;
    background-color: #ffffff;
    pointer-events: auto;
    opacity: 1;
}

.jkuGlT {
    display: block;
    max-width: 320px;
    margin: auto;
    visibility: hidden;
    background-color: #ffffff;
    pointer-events: auto;
    opacity: 1;
}

/* sc-component-id: CollapseToggle__Wrapper-sc-1rsdln9-0 */

.ipYUsA {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 19px 0 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1;
    -webkit-touch-callout: none;
}

/* sc-component-id: CollapseToggle__Title-sc-1rsdln9-1 */

.bDwwmA {
    font-size: 12px;
    font-family: Plain;
    line-height: 1.5;
    -webkit-letter-spacing: 0px;
    -moz-letter-spacing: 0px;
    -ms-letter-spacing: 0px;
    letter-spacing: 0px;
    text-transform: capitalize;
    line-height: 16px;
}

/* sc-component-id: CollapseToggle__ArrowSubtitleWrapper-sc-1rsdln9-2 */

.bgwwUm {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* sc-component-id: CollapseToggle__ArrowWrapper-sc-1rsdln9-4 */

.iEuksq {
    margin-left: 5px;
    vertical-align: middle;
}

/* sc-component-id: CollapseBox__Contents-ijtqqs-1 */

.kzSgjD {
    max-height: 99999px;
    padding: 0 0 20px;
    overflow: inherit;
    visibility: visible;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.gmLYyM {
    max-height: 99999px;
    padding: 0 0 20px;
    overflow: inherit;
    /* visibility: hidden; */
    visibility: hidden;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* sc-component-id: MediumInstantSearchFilterList__ButtonGroup-sc-1c8cvst-0 */

.dRjDVR {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* sc-component-id: MediumFilterButton__CategoryButton-sc-11vc4jr-0 */

.jQSkYf {
    -webkit-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    margin-bottom: 11px;
}

/* sc-component-id: SizeGridFilterGrid__SizeCell-sc-17x1ia4-0 */

.YNdPZ {
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 11px !important;
    outline: none;
}

.YNdPZ:active, .YNdPZ:focus {
    outline: none;
}

/* sc-component-id: ConditionInstantSearchFilterList__ButtonGroup-e3866o-0 */

.jcOYOy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* sc-component-id: LargeFilterButton__CategoryButton-sc-13g5uy4-0 */

.hsZbzR {
    margin-bottom: 8px;
    width: 100%;
}

/* sc-component-id: GridFilters__FixedFilter-sc-1phw74w-3 */

.ibGqes {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: -50px;
}

.goat-button.primary, .goat-button.primary.inverted, .goat-button.selected {
    background-color: #000;
    color: #fff;
}

.primary, .primary * {
    color: #fff;
}

.goat-button {
    cursor: pointer;
    user-select: none;
    font-family: Plain;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    text-transform: capitalize;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    outline: none;
    height: 45px;
    padding: 0;
}

.primary {
    background-color: #000;
}

.align-center-justify-center, .align-center-justify-start, .goat-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dropdown-menu-selector, .goat-button, .grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}