@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="PageLayout_PageAligment" onload="getLoginForm('LoginForm','RegisterForm')">
        <div class="Hero_Wrapper LoginView_Hero">
            <div class="Hero_FirstPane">
                <div class="Hero_HeroPane">
                    <div class="Hero_HeroPaneContent LoginView_HeroPaneContent"><img alt="Red Jordan 1s" src="~/images/login.jpg"
                            class="LoginView_Jordans"></div>
                </div>
            </div>
            <div class="Hero_SecondPane">
                <form class="RegisterForm_Form" id="RegisterForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="Hero_HeroPane RegisterForm_HeroPane">
                        <div class="Hero_HeroPaneContent RegisterForm_HeroPaneContent">
                            <header class="RegisterForm_Header">
                                <h1 class="RegisterForm_Title">Sign Up</h1> 
                            </header>
                            <main class="RegisterForm_Main">
@*                                <div class="MaterialInput_Content">
                                    <label class="MaterialInput_Label">
                                        <input asp-for="Input.UserName"
                                         autocomplete="name" id="UserName" label="Username" name="UserName" type="text"
                                            aria-label="Username" class="MaterialInput_Input" value="" onchange="fillForm()">
                                                <span class="MaterialInput_LabelCopy">Username</span>
                                    </label>
                                 </div>*@
                                <div class="MaterialInput_Content">
                                    <label class="MaterialInput_Label">
                                        <input id="email" asp-for="Input.Email"
                                            id="email" label="Email" name="email" type="email" autocomplete="" aria-label="Email"
                                            class="MaterialInput_Input" value="" onchange="fillForm()">
                                                <span class="MaterialInput_LabelCopy">Email</span>
                                    </label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                 </div>
                                <div class="MaterialInput_Content">
                                    <label class="MaterialInput_Label">
                                        <input asp-for="Input.Password"
                                            id="password" label="Password" name="password" type="password" autocomplete=""
                                            aria-label="Password" class="MaterialInput_Input" value="" onchange="fillForm()">
                                            <span class="MaterialInput_LabelCopy">Password</span>
                                    </label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="MaterialInput_Content">
                                    <label class="MaterialInput_Label">
                                        <input asp-for="Input.ConfirmPassword"
                                            id="confirm-password" label="Confirm Password" name="confirmPassword" type="password"
                                            autocomplete="" aria-label="Confirm Password" class="MaterialInput_Input"
                                            value="" onchange="fillForm()">
                                            <span class="MaterialInput_LabelCopy">Confirm Password</span>
                                    </label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="RegisterForm_Terms">
                                    <span>
                                        <span>By creating an account you
                                            agree to our</span> 
                                            <a  href="#">Terms</a> 
                                            <span>and</span>
                                        <a href="#">Privacy</a>
                                    </span>
                                </div>
                            </main>
                        </div>
                        <div class="LoginForm_Error">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <nav class="Hero_HeroPaneLoginActions">
                            <a class="Hero_Link" asp-area="Identity" asp-page="/Account/Login">
                                <button type="button" class="GoatButton_Wrapper Hero_Button">Back</button>
                                </a>
                                <span class="Hero_Border">
                                    <button id="submitBtn" disabled="" type="submit" class="GoatButton_Wrapper Hero_Button">Sign
                                    Up</button>
                                </span>
                        </nav>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function fillForm(){
            var email = document.getElementById("email");
            var password = document.getElementById("password");
            var confirmPassword = document.getElementById("confirm-password");
            var submitBtn = document.getElementById("submitBtn");
            console.log("Fillform");
            if(email.value.length != 0
                    && password.value.length != 0
                    && confirmPassword.value.length != 0){
                submitBtn.disabled = false;
            }
            else{
                submitBtn.disable = true;
            }
        }
    </script>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}