@model WebApplication1.Infrastructure.ViewModels.ProductCardRankingViewModel
<div class="Grid_CellWrapper">
    <div class="Grid_CellContent">
        <a href="/product/detail/@Model.Name">
            <div>
                <div class="ProductTemplateGridCell_GridCell grid-cell">
                    <div class="ProductTemplateGridCellMetaDataRow_Wrapper">
                        <div class="HeaderButton">
                            <div class="ReleaseDate">
                                <span class="ProductTemplateGridCellMetaDataRow_Number">@Model.rank</span>
                            </div>
                        </div>
                    </div>
                    <div class="ConstructorProductBeacon_ProductBeaconDiv"></div>
                    <button class="ProductWantButton_Button">Want</button>
                    <img src="/utility/@Model.Image" alt="Air Jordan 4" class="ProductTemplateGridCellImage_Image sc-htpNat">
                    <div class="ProductTemplateGridCell_DataContainer">
                        <h2 class="ProductTemplateGridCell_BaseText">@Model.Name</h2>
                        <div class="ProductTemplatePriceDisplay_Wrapper">
                            <p class="ProductTemplatePriceDisplay_Price">
                                $250
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>